/* générale */

/*Couleur du théme principale::

 color rouge:          #A60321/
 color bleu claire:    #034AA6/3,74,166
 color bleu marine:    #023373/2,51,115
 color orange claire : #F28705/242,135,5
 color orange foncé:   #F25C05/242,92,5

 POLICE:

 font-family: alex-brush, sans-serif;
 */


body, html{
    margin: 0px;
    padding: 0px;
    width: auto;
  }
.fond{
  background: rgb(166,3,33);
  background: linear-gradient(90deg, rgba(166,3,33,1) 8%, rgba(242,92,5,1) 49%, rgba(242,135,5,1) 86%);
  size: 100%;
}
/* .container-fluid{
    padding: 0px;
} */
.titre, .titre1{
  font-family: alex-brush, sans-serif;
  font-weight: 400;
  font-style:normal;
  font-size: 40px;
}
h1,h2,h3,p{
  
  font-family: alex-brush, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: #023373;
}
/* h4{
  font-family: alex-brush, sans-serif;
  font-weight: 400;
  font-style: normal;
} */
/* .cadre{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.5102415966386555) 45%, rgba(255,255,255,1) 85%);
  box-shadow: 5px 5px 5px;
  border-radius: 5px;
} */

